@use './node_modules/sass-true' as *;
@import 'transition-mixin';

@include it('Outputs one fully declaration - for background-color') {
    @include assert {
        @include output {
            @include transition-mixin('background-color');
        }

        @include expect {
            transition: background-color 0.25s ease;
        }
    }
}

@include it('Outputs two fully declarations - for color and transform') {
    @include assert {
        @include output {
            @include transition-mixin('color', 'transform');
        }

        @include expect {
            transition: color 0.25s ease, transform 0.25s ease;
        }
    }
}

@include it('Outputs a specific duration time') {
    @include assert {
        @include output {
            @include transition-mixin((
                duration: '5s'
            ));
        }

        @include expect {
            transition: all 5s ease;
        }
    }
}

@include it('Outputs a specific delay') {
    @include assert {
        @include output {
            @include transition-mixin((
                delay: '5s'
            ));
        }

        @include expect {
            transition: all 0.25s 5s ease;
        }
    }
}

@include it('Outputs two individually declarations - for width and height') {
    @include assert {
        @include output {
            $first-declaration: (
                duration: 1s,
                property: width,
                timing-function: linear,
            );

            $second-declaration: (
                property: height,
                timing-function: ease-in,
            );

            @include transition-mixin(
                $first-declaration,
                $second-declaration
            );
        }

        @include expect {
            transition: width 1s linear, height 0.25s ease-in;
        }
    }
}
