/**
 * transition mixin
 * @type {map}
 */
@mixin transition($properties...) {
    $duration: .25s !default;
    $timing-function: ease !default;
    $property: all !default;
    $declarations: ();

    @each $declaration in $properties {
        @if type-of($declaration) == 'map' {
            $duration: if(map_get($declaration, 'duration'), #{map_get($declaration, 'duration')}, $duration);
            $timing-function: if(map_get($declaration, 'timing-function'), #{map_get($declaration, 'timing-function')}, $timing-function);
            $property: if(map_get($declaration, 'property'), #{map_get($declaration, 'property')}, $property);
        } @else {
            $property: $declaration;
        }

        $declarations: append($declarations, #{$property + ' ' + $duration + ' ' + $timing-function}, comma);
    }

    transition: $declarations;
}
